body {
    padding-top: 70px;
    padding-bottom: 70px;
}

footer p{
    margin: 1em 0;
}

div {
    padding: 5px;
}

#parent {
    background-color: blue;
    border: 1px solid;
}

#sib1 {
    background-color: aqua;
    border: 1px solid;
}

#sib2 {
    background-color: aqua;
    border: 1px solid;
}

#child {
    background-color: red;
    border: 1px solid;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}