<!DOCTYPE html>
<html lang="en" data-ng-app="">
    <head>
        <title>Ejercicios AngularJS</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="css/app.css">

    </head>
    <body>

        <header>
            <nav class="navbar navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">AngularJS</a>
                </div>
            </nav>
        </header>

        <section class="container-fluid">
            <h3>Ejercicio 03: bucle con ngRepeat y filtros</h3>

            <!-- Campo de texto para introducir nombre del cliente -->
            <div>
                <label>Escriba el criterio de búsqueda aquí: </label>

                <input type="text" data-ng-model="filterText"/> 

                <!-- NOTA: Si queremos que el filtrado de búsqueda se aplique solo al campo nombre de los objetos de abajo, usar esto -->
                <!--<input type="text" data-ng-model="filterText.name"/>-->
                <br/>
            </div>


            <div data-ng-init="customers=[{id: 1, name: 'Jorge Arévalo', city: 'Madrid', 'fecha_alta': '2014-07-12', 'ultima_factura': 1550.5485363}, {id: 2, name: 'Elena Nieto del Bosque', city: 'Toledo', 'fecha_alta': '2010-01-23', 'ultima_factura': 1800.5435363}, {id: 3, name: 'Javier Ucto', city: 'Murcia', 'fecha_alta': '2015-12-02', 'ultima_factura': 2100.5435363}, {id: 4, name: 'Jose Villanas', city: 'Córdoba', 'fecha_alta': '2006-04-15', 'ultima_factura': 988.5435363}, {id: 5, name: 'Marta Burete', city: 'Gijón', 'fecha_alta': '2009-08-15', 'ultima_factura': 1250.5435363}]">

                <p>El listado de clientes es</p>

                <!-- Listado de clientes incluyendo nombre y ciudad, filtrando por el nombre introducido arriba, ordenados por fecha de alta descendente, con la ciudad en mayúsculas 
y cantidad de factura con el símbolo de divisa y redondeada a 2 decimales -->
                <ul>
                    <li data-ng-repeat="cust in customers | filter: filterText | orderBy: '-fecha_alta'">{{cust.id}}.- {{cust.name}} ({{cust.city | uppercase}}) - Desde {{cust.fecha_alta}} - Última factura: {{cust.ultima_factura | currency}}</li>
                    
                    <!-- El filtro currency ya redondea a 2 decimales, además de poner el símbolo de divisa. La otra opción sería:
                    (cust.ultima_factura | number: 2) € .
                    Recordar que el símbolo es el del euro porque tenemos incluido abajo el js del locale para España -->
                </ul>


                <!-- NOTA: Si cambiamos elementos del array, ng-repeat elimina todos los elementos del DOM y los
                    vuelve a crear. Para evitar eso, podemos usar track by, al que le especificaremos una clave primaria.
                    Esto asocia cada elemento repetido del DOM con un objeto Javascript, de manera que, salvo que los
                    modifiquemos, angular no los tocará.

                    En nuestro ejemplo:

                    <li data-ng-repeat="cust in customers track by cust.id">...</li>
                -->

                <!-- NOTA: Si se quiere aprovechar para explicar la opción ng-options aquí, se puede usar este
                    ejemplo sencillo: http://cursoangularjs.es/doku.php?id=unidades:04_masdirectivas:05_ngoptions
                -->
            </div>

        </section>

        <footer class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <p class="text-muted">Curso AngularJS</p>
            </div>
        </footer>

        <script src="js/vendor/jquery-1.12.1.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/angular.js"></script>
        
        <!-- Para el simbolo de euro, por ej -->
        <script src="js/vendor/angular-locale_es-es.js"></script>
    </body>
</html>
