<!DOCTYPE html>
<html lang="en" ng-app="ejerciciosApp">
    <head>
        <title>Ejercicios AngularJS</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="css/app.css">

    </head>
    <body>

        <header>
            <nav class="navbar navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">AngularJS</a>
                </div>
            </nav>
        </header>

        <section class="container-fluid" ng-controller="ej08Controller as vm">

            <h3>Ejercicio 08: creación de directivas pasándole argumentos (isolate scope I)</h3>

            <!-- Campo de texto para introducir nombre del cliente -->
            <div>
                <label>Escriba el criterio de búsqueda aquí: </label>

                <input type="text" data-ng-model="filterText"/> 

                <!-- NOTA: Si queremos que el filtrado de búsqueda se aplique solo al campo nombre de los objetos de abajo, usar esto -->
                <!--<input type="text" data-ng-model="filterText.name"/>-->
                <br/>
                <br/>
            </div>


            <div>
                
                <!-- Ahora le estamos pasando argumentos a la directiva. Vamos a generar también el párrafo
                con el texto encima del ul, ya 
                que estamos. -->
                <yearly-data text="Datos del año fiscal" year="{{vm. configuration.year}}" quarter="{{vm.configuration.quarter}}"></yearly-data>
                <!-- IMPORTANTE: Aquí estamos definiendo year en la directiva, y en el js veremos que
                 se copia del controlador mediante "@". El hecho de que, al mismo tiempo, estemos
                 asignando desde aquí a year un valor que viene del controlador es anecdótico.
                 Si hubiéramos puesto aquí year="2016" y la "@" en el js, sería exactamente igual: le 
                 estaríamos diciendo a la función de creación de la directiva que cogiera year del 
                 valor del atributo "year" aquí, en el HTML.
                 Lo que hemos hecho aquí es una manera de "enlazar" la directiva con el controlador, 
                 haciendo que los atributos de la directiva vengan de campos del controlador. El 
                 problema de este enlace es que es unidireccional: si yo ahora cambio el atributo "year"
                 en la directiva, el controlador no se entera -->
                 
                <!-- Ejemplo de cómo cambiaría el atributo year en la directiva en el fichero ej08.js,
                 comentado -->
                
                <!-- Esto es solo un chivato para ver que el scope de la directiva y el del controlador
                no están conectados. Cuando cambiemos "year" en el scope de la directiva, esto no va a
                cambiar -->
                <p>Año: {{vm.configuration.year}}</p>

               
                <p>El listado de clientes es</p>

                <!-- Listado de clientes incluyendo nombre y ciudad, filtrando por el nombre introducido arriba, ordenados por fecha de alta descendente, con la ciudad en     
mayúsculas y cantidad de factura redondeada a 2 decimales -->
                <ul>
                    <li data-ng-repeat="cust in vm.customers | filter: filterText | orderBy: '-fecha_alta'">{{cust.id}}.- {{cust.name}} ({{cust.city | uppercase}}) - Desde {{cust.fecha_alta}} - Última factura: {{cust.ultima_factura | number:2}} €</li>
                </ul>


                <!-- NOTA: Si cambiamos elementos del array, ng-repeat elimina todos los elementos del DOM y los
vuelve a crear. Para evitar eso, podemos usar track by, al que le especificaremos una clave primaria.
Esto asocia cada elemento repetido del DOM con un objeto Javascript, de manera que, salvo que los
modifiquemos, angular no los tocará.

En nuestro ejemplo:

<li data-ng-repeat="cust in customers track by cust.id">...</li>
-->
            </div>

        </section>

        <footer class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <p class="text-muted">Curso AngularJS</p>
            </div>
        </footer>

        <script src="js/vendor/jquery-1.12.1.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/ej08.js"></script>
    </body>
</html>
