<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <title>Ejercicios AngularJS</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="css/app.css">

    </head>
    <body>

        <header>
            <nav class="navbar navbar-inverse" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">AngularJS</a>
                </div>
            </nav>
        </header>

        <section class="container-fluid" ng-controller="MainCtrl as vm">

            <h3>Ejercicio 13: $parsers y $formatters</h3>

            Escribe con mayúsculas o minúsculas (el valor abajo lo verás siempre en minúsculas) <input changecase ng-model="vm.data.name" />
            <br>
            Pulsa estos botones para rellenar automáticamente el input (lo rellenarán en mayúsculas en los dos casos)
            <input type="button" value="'tortuga'" ng-click="vm.data.name='tortuga'"/>
            <input type="button" value="'TORTUGA'" ng-click="vm.data.name='TORTUGA'"/>
            <br>
            <pre>El campo data.name del modelo contiene: {{vm.data.name}}</pre>


        </section>

        <footer class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <p class="text-muted">Curso AngularJS</p>
            </div>
        </footer>

        <script src="js/vendor/jquery-1.12.1.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/ej13.js"></script>
    </body>
</html>
